div(class="panel panel-default")
  div(id="divEditShowName" class="panel-heading")
    span(id="spanEditShowName") 
    button(id="btnEditShowClose" type="button" class="close" data-dismiss="modal")&times;
  div(class="panel-body")
    div(class="col-md-12")  
      img(id="imgEditMain" src="http://kartisinfo.co.il/media/show/videoimage/55912.jpg", style="width:350px; heigth: 270px; margin: 0 10px 10px 0;" class="pull-left")      
      p(id="pEditShowAnnounce" style='text-align: justify;') Голос… такой пленительный и мелодичный. Голос, неуловимые интонации которого выражаץт порой страдание и боль, а порой надежду и любовь. Кажется, он вырывается из глубины души и захватывает нас целиком, без остатка. Голос Патрисии Каас, ставший для нас таким родным    и знакомым, уникален и неповторим. Именно этот голос сможет услышать израильский зритель осенью 2017 года.
        Французская певица Патрисия Каас (Patricia Kaas) – одна из самых популярных западных эстрадных исполнительниц. Стилистика музыкальных композиций, исполняемых певицей, — смесь джаза и поп-музыки. Формулой ее успеха являются постоянные гастрольные турне по странам мира.
        Несмотря на открытость взгляда, эта хрупкая женщина остается загадкой, которую не смогли разгадать журналисты. Воробушек — так называли знаменитую Эдит Пиаф. Сейчас новую звезду французской эстрады сравнивают с ней. Но сама Патрисия Каас такое сходство отрицает, считая, что роднит их только похожесть в модуляции голоса — интонации.
        В двадцать лет миниатюрная блондинка Патрисия Каас громко заявила о себе песней 'Mademoiselle chante le blues'. С тех пор певица, оставаясь все такой же хрупкой и белокурой, заняла видное место в ряду звезд французской песни, выступала во многих странах мира, а ее альбомы трижды становились 'алмазными' — достижение, которое пока что не удалось никому превзойти. Певицу хорошо знают и в нашей стране, где она даст всего один концерт!

  table(id="tableEditSeances" class="table" style="margin-top:20px;" border="0")
    tr(style="background-color: #f5f5f5; border-rigth:white;")
      th(class="text-center table-head-border") ГОРОД
      th(class="text-center table-head-border") ДАТА
      th(class="text-center table-head-border") МЕСТО ПРОВЕДЕНИЯ
      th(class="text-center table-head-border") ЦЕНА
      th 
    tr
      td Тель-Авив
      td Чт, 28.09.2017 20:30
      td Гехаль а-Тарбут Тель-Авив
      td 254 - 704 ₪
      td 
        a(href="#") КУПИТь 
    tr
      td Тель-Авив
      td Чт, 28.09.2017 20:30
      td Гехаль а-Тарбут Тель-Авив
      td 254 - 704 ₪
      td 
        a(href="#") КУПИТь

  div(class="panel panel-default" style="margin-top:20px;")
    div(class="panel-heading") ФОТО - ВИДЕО
    div(class="panel-body")  
      div(id="divEditGalary" class="row")
        div(class="col-xs-6 col-md-3")
          a(href="#" class="thumbnail")
            img(img src="//kartisinfo.co.il/media/show/gallery/120x120/55429.jpg" alt="Патрисия Каас — Patricia Kaas")
        div(class="col-xs-6 col-md-3")
          a(href="#" class="thumbnail")
            img(img src="//kartisinfo.co.il/media/show/gallery/120x120/55429.jpg" alt="Патрисия Каас — Patricia Kaas")
        div(class="col-xs-6 col-md-3")  
          a(href="#" class="thumbnail")
            img(img src="//kartisinfo.co.il/media/show/gallery/120x120/55429.jpg" alt="Патрисия Каас — Patricia Kaas")
        div(class="col-xs-6 col-md-3")  
          a(href="#" class="thumbnail")
            img(img src="//kartisinfo.co.il/media/show/gallery/120x120/55429.jpg" alt="Патрисия Каас — Patricia Kaas")

