extends layout

block content  
  div(class="container text-center" style="margin-bottom: 10px;")
      div(id="divAboutContent" class="jumbotron1" style="text-align: left; margin-bottom: 200px;")
        h3(style="text-align: center;") BILETY.CO.IL - Афиша мероприятий 2018 в Израиле
        p  
          span(style="text-decoration: underline; font-weight: bold;") BILETY.CO.IL 
          |  – первый (и единственный) в Израиле агрегатор театральных и концертных билетов. 
          br
          | Сервис получает информацию от нескольких крупных продавцов. При этом компания не берет с покупателей комиссию за свои услуги. Партнеры делятся с ней частью выручки от продаж через сервис.
          | Партнеры BILETY.CO.IL по продаже билетов в театр – билетные агентства BRAVO и BILETRU (в перспективе присоединение АНШЛАГ и HAIFA-SEASONS), а также продюсерские компании Rest International и Cruise International. Уже сейчас в базе сайта практически все гастроли (от "Сплина" и "Ленинграда" до Лолиты и Пенкина, от БДТ им. Г. А. Товстоногова и бенефиса Константина Хабенского до "Черного театра" из Праги и Оперы "Мадам Баттерфляй" в постановке оперного театра "Ла Скала") и большинство израильских концертов и спектаклей (в том числе постановки Камерного театра, театра Габима, театра Бейт Лесин, театра Гешер и израильских фриндж театров) . Кино и цирк, юмористические представления и мероприятия для детей, творческие встречи и лекции, выставки и спортивные мероприятия - все это вы также найдете на страницах сайта. 
          br
          br
          span(style="text-decoration: underline; font-weight: bold;") Цель организаторов сайта
          |  – возможность покупки билетов на любое событие в стране в одном месте. Обратите внимание, что сайт не занимается продажей билетов. Сам процесс покупки происходит на сайте партнера, чье предложение покажется наиболее привлекательным для покупателя. При этом BILETY.CO.IL работает только с самыми проверенными партнерами.
          br
          br
          span(style="text-decoration: underline; font-weight: bold;") Основная задача сайта
          |  – помочь найти лучшее из того, что предлагают ВСЕ билетные кассы Израиля. Для этого разработана удобная и гибкая система поиска, фильтрации и сортировки мероприятий по категории, дате, месту проведения, цене и т.д. Такую систему не предлагает ни один сайт в Израиле (а возможно и в мире). С одной стороны, вы найдете ВСЕ мероприятия на одном сайте (ведь разные агентства продают билеты на разные мероприятия). С другой стороны, если несколько агентств продают билеты на одно мероприятие, то вы сможете в одном месте увидеть все свободные билеты на это мероприятие (ведь разные агентства продают разные места на одно и тоже мероприятие). Если вы привыкли планировать поход в театр заранее или организуете свой досуг в последнюю минуту - сайт BILETY.CO.IL для вас. Если вы всегда выбираете самые лучшие места на концерт или ищете только билеты со скидками - сайт BILETY.CO.IL поможет вам в этом.
          br
          br
          span(style="text-decoration: underline; font-weight: bold;") В ближайших планах компании 
          |  – мобильная версия сайта и разработка раздела сайта с бесплатными и субсидированными мероприятиями по всей стране. Уже в работе и израильская ивритоязычная и немецкая русскоязычная версии сайта.
          br          
          | Сайт пока проходит бета
          |  – тестирование и конечно пока имеет некоторые баги и недоработки. Но идея уже вроде бы ясна. Я буду очень рад узнать любые критические мнения о сайте, любые идеи и предложения как по самому сайту, так и его продвижению.
          br
          | Заранее спасибо.