extends layout

block content
  script.
      $(function(){ $("#txtDateFrom").datepicker({minDate: new Date()}); $("#txtDateTo").datepicker({minDate: new Date()}); $("#divMultiDatePicker").multiDatesPicker();});

  div(class="container text-center")
    <!--carousel-->
    div(class="container" style="margin-bottom: 10px;")
      div(id="ticketsCarousel", class="carousel slide", data-ride="carousel", style="margin-bottom: 10px; display:none;")
        <!-- Indicators-->
        ol(class="carousel-indicators")
          li(data-target="#ticketsCarousel", data-slide-to="0" class="active")
          li(data-target="#ticketsCarousel", data-slide-to="1")
          li(data-target="#ticketsCarousel", data-slide-to="2")
          li(data-target="#ticketsCarousel", data-slide-to="3")

        <!-- slides -->
        div(class="carousel-inner", role="listbox")
          div(class="item active")
            img(src="http://biletru.co.il/upload/0/9/7/2/0972f1f1446acf172dc5cc55c304888b.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 1
              p The atmosphere in Chania has a touch of Florence and Venice

          div(class="item")
            img(src="http://biletru.co.il/upload/e/e/f/3/eef31daf0dc9b61c3ba97e787665da77.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 2
              p The atmosphere in Chania has a touch of Florence and Venice

          div(class="item")
            img(src="http://biletru.co.il/upload/e/0/d/2/e0d2a8bf55cfb7efe9044ed281555742.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 3
              p The atmosphere in Chania has a touch of Florence and Venice

          div(class="item")
            img(src="http://biletru.co.il/upload/e/0/d/2/e0d2a8bf55cfb7efe9044ed281555742.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 3
              p The atmosphere in Chania has a touch of Florence and Venice

        <!-- Left and right controls -->
        a(class="left carousel-control" href="#ticketsCarousel" role="button" data-slide="prev")
          span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
          span(class="sr-only") Previous

        a(class="right carousel-control" href="#ticketsCarousel" role="button" data-slide="next")
          span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
          span(class="sr-only") Next

      div(class="row content" style="margin-left:0; margin-right:0;")
        
        div(class="col-sm-2 sidenav")
          p(class="left-ul-filter label-filter-border" )
            span(style="font-weight: bold;") КАТЕГОРИИ
          include ./partials/types_menu          
          div(id="divMultiDatePicker" class="text-left" style="margin-bottom:10px; display:none;")
          p(class="left-ul-filter label-filter-border")
            span(style="font-weight: bold;") ДАТА
          ul(class="row list-unstyled")
            li
              input(id="txtDateFrom" type="text" class="text-box text-left left-ul-filter" placeholder="Дата с:" style="margin-bottom: 5px; box-shadow: none;")              
            li(style="margin-bottom: 10px;")
              input(id="txtDateTo" type="text" class="text-box text-left left-ul-filter" placeholder="Дата по:")

            li(id="liLeftFilter_Today" class="text-left left-ul-filter border-bottom-grey" )
              a(href="#") СЕГОДНЯ

            li(id="liLeftFilter_Tomorrow" class="text-left left-ul-filter border-bottom-grey")
              a( href="#") ЗАВТРА

            li(id="liLeftFilter_Week" class="text-left left-ul-filter border-bottom-grey")
              a(href="#") БЛИЖАЙШАЯ НЕДЕЛЯ

            li(id="liLeftFilter_Weekend" class="text-left left-ul-filter border-bottom-grey")
              a(href="#") БЛИЖАЙШИЕ ВЫХОДНЫЕ

            li(id="liLeftFilter_NextWeekend" class="text-left left-ul-filter border-bottom-grey")
              a(href="#") СЛЕДУЮЩИЕ ВЫХОДНЫЕ

            li(id="liLeftFilter_Month" class="text-left left-ul-filter border-bottom-grey")
              a(href="#") БЛИЖАЙШИЙ МЕСЯЦ

            li(id="liLeftFilter_TreeMonth" class="text-left left-ul-filter border-bottom-grey")
              a(href="#") БЛИЖАЙШИЕ 3 МЕСЯЦА

          p(class="left-ul-filter label-filter-border" ) 
            span(style="font-weight: bold;") ГОРОДА
            include ./partials/cities_filter

          p(class="left-ul-filter label-filter-border" ) 
            span(style="font-weight: bold; text-transform: uppercase;") Со скидками  
          ul(class="row list-unstyled")
            li(id="liSuperPrice" class="text-left left-ul-filter border-bottom-grey")
              a(href="#")
                span(class="glyphicon glyphicon-gift")
                span(style="margin-left:3px; text-transform: uppercase;") Супер-цена            

            li(id="liDiscount" class="text-left left-ul-filter border-bottom-grey")
              a(href="#")
                span(class="glyphicon glyphicon-tag")
                span(style="margin-left:3px; text-transform: uppercase;") Со скидкой


          p(class="left-ul-filter label-filter-border" ) 
            span(style="font-weight: bold; text-transform: uppercase;") Другие  
          ul(class="row list-unstyled")
            li(id="liSuperPrice" class="text-left left-ul-filter border-bottom-grey")
              a(href="#")
                span(class="glyphicon glyphicon-globe")
                span(style="margin-left:3px; text-transform: uppercase;") Гастроли 


          div(class="text-left")  
            a(id="aClearLeftFilter" href="#" style="margin-left: -10px; text-decoration-color: red;" )
              span(class="glyphicon glyphicon-remove-circle" style="margin-right:3px; color:red;") 
              span(style="color:red;") ОЧИСТИТЬ 

             

        div(class="col-sm-10 text-center")

          div(id="divShowsMain" style="display:block")
            include ./partials/shows_main

          div(id="divShowEdit" style="display:none")
            include ./partials/shows_edit
          
                



