extends layout

block content
  div(class="container text-center")
    <!--carousel-->
    div(class="container" style="margin-bottom: 10px;")
      div(id="ticketsCarousel", class="carousel slide", data-ride="carousel", style="margin-bottom: 10px; display:none;")
        <!-- Indicators-->
        ol(class="carousel-indicators")
          li(data-target="#ticketsCarousel", data-slide-to="0" class="active")
          li(data-target="#ticketsCarousel", data-slide-to="1")
          li(data-target="#ticketsCarousel", data-slide-to="2")
          li(data-target="#ticketsCarousel", data-slide-to="3")

        <!-- slides -->
        div(class="carousel-inner", role="listbox")
          div(class="item active")
            img(src="http://biletru.co.il/upload/0/9/7/2/0972f1f1446acf172dc5cc55c304888b.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 1
              p The atmosphere in Chania has a touch of Florence and Venice

          div(class="item")
            img(src="http://biletru.co.il/upload/e/e/f/3/eef31daf0dc9b61c3ba97e787665da77.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 2
              p The atmosphere in Chania has a touch of Florence and Venice

          div(class="item")
            img(src="http://biletru.co.il/upload/e/0/d/2/e0d2a8bf55cfb7efe9044ed281555742.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 3
              p The atmosphere in Chania has a touch of Florence and Venice

          div(class="item")
            img(src="http://biletru.co.il/upload/e/0/d/2/e0d2a8bf55cfb7efe9044ed281555742.jpg", alt="Chania", width="460", height="345")
            div(class="carousel-caption")
              h3 slide 3
              p The atmosphere in Chania has a touch of Florence and Venice

        <!-- Left and right controls -->
        a(class="left carousel-control" href="#ticketsCarousel" role="button" data-slide="prev")
          span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
          span(class="sr-only") Previous

        a(class="right carousel-control" href="#ticketsCarousel" role="button" data-slide="next")
          span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
          span(class="sr-only") Next

      div(class="row content" style="margin-left:0; margin-right:0;")
        
        div(class="col-sm-2 sidenav")
          include ./partials/types_menu

        div(class="col-sm-10 text-center")

          div(id="divShowsMain" style="display:block")
            include ./partials/shows_main

          div(id="divShowEdit" style="display:none")
            include ./partials/shows_edit
          
                



