extends layout
block content
  div(class="container text-center")
    table(id="tblPosts" class="table text-left" style="margin-top:20px; width:80%; margin-left: auto; margin-right: auto;" border="0")      
      tbody
        each post in posts          
          -var post_date = dateFormat(new Date(post.pub_date), "dd.mm.yyyy");      
          tr
            td(style="margin-left:10px;")
              a(href="")
                img(src="http://bilety.co.il/images/shows/57550.jpg", alt="#{post.name}")
            td
              p(style='text-align: justify;') 
                span(class="glyphicon glyphicon-calendar")
                span(style="margin-left:3px;") #{post_date} 
              h4
                a(href="/post_edit/#{post.id}" class="a-link-general") #{post.name}           
            