extends layout

block content  
  div(class="container text-center" style="margin-bottom: 10px;")
      div(id="divSubscribeContent" class="jumbotron1 about-container")
        h2(style="text-align: center;") Спасибо!
        h3(class="text-center") Ваше подтверждение получено.
        h3(class="text-center") Ваш email 
            span(class="subscribe-page-span-email") #{email} 
            | внесен в список рассылки сайта
            span(class="subscribe-page-span-email") &nbsp; bilety.co.il.
        h3(class="text-center")
          a(class="a-link-general subscribe-page-button" href="/") bilety.co.il




