body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      height: 400px;
      margin: auto;
  }

.carousel-control{
  width: 15%;
}

.navbar{
  margin-bottom: 5px;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

/*checkbox styling */
/*	wrapper divs */
.custom-checkbox, .custom-radio 
{ 
	position: relative;
	 
}
	
/* input, label positioning */
.custom-checkbox input, 
.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.custom-checkbox label, 
.custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	font-size: 1em;
	padding-right: 1em;
	line-height: 1;
	padding: .5em 0 .5em 30px;
	margin: 0 0 .3em;
	cursor: pointer;
	width: 350px;
}

	
/* states */
.custom-checkbox label { background: url(images/checkbox.gif) no-repeat; }

.custom-radio label { background: url(images/radiobutton.gif) no-repeat; }

.custom-checkbox label, .custom-radio label {
	background-position: -10px -14px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
	background-position: -10px -114px;
}

.custom-checkbox label.checked, 
.custom-radio label.checked {
	background-position: -10px -214px;
}

.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	background-position: -10px -314px;
}

.custom-checkbox label.focus, 
.custom-radio label.focus {
	outline: 1px dotted #ccc;
}

/**************** - show edit - ******************/
/*Edit table*/
.table-head-border
{
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: white;
}

/*multi date picker*/
#divMultiDatePicker .ui-datepicker
{
  font-size:10px;
}

#divMultiDatePicker .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #743620 none;
	color: white;
}

#divMultiDatePicker
{
	margin-left: -10px;
}

.left-ul-filter
{
	  width: 100%;
    height: 28px;
		padding-top: 5px;	
}

.left-ul-filter a
{
	margin-left: 5px;
	color: #555;
	font-weight: normal;
}

.border-bottom-grey
{
	  border-bottom-color: #ddd;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

 
